:root{
    --font: 1.3rem;
    --line: calc(var(--font) * 2);
    --move: calc(-1 * var(--line));
    --main-dark-color: #2b4356;
    --main-light-color: #dddceb;
    --main-accent-color: #e75150;
    --accesory-accent-color: #fee883;
    --accesory-light-color: #ebaf8d;
    --secondary-dark-color: #18252F;
    --secondary-light-color: #F5F5F9;  
}

.recipe-component{
    background: rgba(245,245,249, 0.7);
}
.recipe-component .vl {
    border-right: 1px solid black;
    height: auto;
}
.recipe-component .card {
    background-color: var(--secondary-light-color);
}

.item > img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display:block; /* to get rid of the whitespace */
}

.label {
    font-size: var(--font) !important;
    line-height: var(--line) !important;
    padding: 0 1rem;
    margin: 0;
    color: white;
    background-color: hsla(0, 0%, 0%, 0.48);
    height: var(--line);
    /* margin-top: var(--move);
    position:relative; */

    transform: translateY(var(--move)) !important;
    margin-bottom: var(--move) !important;

    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
}