:root {
	--main-dark-color: #2b4356;
	--main-light-color: #dddceb;
	--main-accent-color: #e75150;
	--accesory-accent-color: #fee883;
	--accesory-light-color: #ebaf8d;
	--secondary-dark-color: #18252F;
	--secondary-light-color: #F5F5F9;  
  }

.not-found-banner{
	position: relative;
	width: 100%;
	height: calc(100vh - 76px);
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;	
	background-image: url('./Img/notFound.jpg');

}
.not-found-banner-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: var(--secondary-light-color);
	background-color: rgba(43, 67, 86, .5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.not-found-banner h1{
    font-size: 6rem;
}
