:root {
  --main-dark-color: #2b4356;
  --main-light-color: #dddceb;
  --main-accent-color: #e75150;
  --accesory-accent-color: #fee883;
  --accesory-light-color: #ebaf8d;
  --secondary-dark-color: #18252f;
  --secondary-light-color: #f5f5f9;
}

.navbar {
  background-color: var(--main-dark-color);
  height: 75px;
  font-family: 'Pompiere', cursive;
  font-size: 1.8rem;
}

.navbar a{
  color: var(--main-light-color);
}

.navbar .register-buttton {
  /* border: 1px solid var(--main-accent-color); */
  color: var(--main-accent-color);
  font-weight: bold;
  font-size: 1.8rem;
}

.button-in{
  border:1px solid var(--main-light-color) !important;
  justify-content: space-between;
}

.button-in input, button {
  background-color:transparent;
  border:0;
}
.recetapp-logo img {
  max-height: 70px;
}