:root {
  --main-dark-color: #2b4356;
  --main-light-color: #dddceb;
  --main-accent-color: #e75150;
  --accesory-accent-color: #fee883;
  --accesory-light-color: #ebaf8d;
  --secondary-dark-color: #18252f;
  --secondary-light-color: #f5f5f9;
}

/* .navbar {
  background-color: var(--main-dark-color);
  height: 75px;
  font-family: 'Pompiere', cursive;
  font-size: 1.8rem;
} */

.button-in{
  border:1px solid var(--main-light-color) !important;
  justify-content: space-between;
}

.button-in input, button {
  background-color:transparent;
  border:0;
}

.recetapp-logo {
  max-height: 50px !important;
}
.dropdown-menu {
  background-color: var(--main-dark-color) !important;
  color: var(--main-light-color) !important;
}
.dropdown-item{
  color: var(--main-light-color) !important;
}
.dropdown-item:hover{
  color: var(--main-dark-color) !important;
  background-color: var(--secondary-light-color) !important;
}
.dropdown-item:focus{
  background-color: var(--main-accent-color) !important;
  color: var(--main-light-color) !important;
}
.input-border:focus{
  border-bottom: 1px solid var(--secondary-light-color) !important;
  outline: none transparent !important;
}
.navbar .register-button a{
  color: var(--main-accent-color) !important;
}
