.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.display-all{
    color: var(--main-light-color);
    background-color: rgba(43, 67, 86, .9);
}


.title-rec a{
    color: var(--main-light-color) !important;
}