:root {
  --main-dark-color: #2b4356;
  --main-light-color: #dddceb;
  --main-accent-color: #e75150;
  --accesory-accent-color: #fee883;
  --accesory-light-color: #ebaf8d;
  --secondary-dark-color: #18252f;
  --secondary-light-color: #f5f5f9;
}

footer {
    height: 40vh;
    background-color: var(--main-dark-color);
}
.social-footer i{
  color: var(--main-accent-color);
}
.end {
  background: var(--main-accent-color);
  min-height: 10vh;
}