:root {
  --main-dark-color: #2b4356;
  --main-light-color: #dddceb;
  --main-accent-color: #e75150;
  --accesory-accent-color: #fee883;
  --accesory-light-color: #ebaf8d;
  --secondary-dark-color: #18252F;
  --secondary-light-color: #F5F5F9;  
}

*{
  margin: 0;
  padding: 0;
}
